

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mã hóa email</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css'>
</head>
<body>
    <!-- Header Section -->
    <header>
        <div class="logo" id="logo">Mã hóa Email</div>
        <nav>
            <a href="#features">Tính năng</a>
        </nav>
        <div class="cta-buttons">
            <button onclick="showRegister()" class="btn">Đăng ký</button>
            <button onclick="showLogin()" class="btn">Đăng nhập</button>
        </div>
    </header>

    <!-- Hero Section -->
    <section class="hero">
        <div class="hero-text">
            <h1>Mã hóa Email</h1>
            <p>Hợp lý hóa giao tiếp qua email của bạn, nâng cao năng suất và cộng tác dễ dàng với các giải pháp không gian làm việc email nâng cao của chúng tôi.</p>
            <button onclick="showRegister()" class="btn">Bắt đầu</button>
        </div>
        <img src="/static/img/bgpjpg.jpg" alt="Workspace Image">
    </section>

    <!-- Features Section -->
    <section id="features" class="features">
        <div class="feature-card">
            <h3>Cộng tác hiệu quả</h3>
            <p>Làm việc cùng nhau liền mạch với tính năng chia sẻ tệp trong thời gian thực.</p>
        </div>
        <div class="feature-card">
            <h3>Hộp thư đến thông minh</h3>
            <p>Sắp xếp email của bạn một cách thông minh và ưu tiên những gì quan trọng nhất.</p>
        </div>
        <div class="feature-card">
            <h3>Bảo mật nâng cao</h3>
            <p>Giữ an toàn cho thông tin liên lạc của bạn với các giao thức bảo mật hàng đầu của chúng tôi.</p>
        </div>
    </section>

    <!-- Testimonials Section -->
    <section class="testimonials">
        <h2>Khách hàng của chúng tôi nói gì</h2>
        <div class="testimonial">
            <p>"Email Bảo Mật đã thay đổi cách chúng tôi giao tiếp. Nó trực quan và thông tin của chúng tôi được bảo mật!"</p>
            <span>- Vu Ng.</span>
        </div>
        <div class="testimonial">
            <p>"Rất khuyến khích cho bất kỳ doanh nghiệp nào muốn cải thiện bảo mật cho email của họ."</p>
            <span>- Hi Tr.</span>
        </div>
    </section>

    <!-- FAQ Section -->
    <section class="faq">
        <h2>Câu hỏi thường gặp</h2>
        <div class="faq-item">
            <h3>Tôi có cần phải trả tiền để được sử dụng dịch vụ?</h3>
            <p>Không, dịch vụ của chúng tôi hoàn toàn miễn phí</p>
        </div>
        <div class="faq-item">
            <h3>Dữ liệu của tôi có an toàn không?</h3>
            <p>Email của chúng bạn được mã hóa thành một định dạng cụ thể và chỉ những người có khóa chính xác mới có thể giải mã nó.</p>
        </div>
    </section>

    <!-- Footer Section -->
    <footer>
        <p>&copy; 2025 Email Protector. All Rights Reserved.</p>
    </footer>

    <!-- Login/Register -->
    <div class="screen-login">
        <div class="screen-content">
            <button class="close-btn" onclick="closeModal()"><i class='bx bx-x'></i></button>
            <form class="login" method="POST" action="{{ url_for('login') }}">
                <h2>Login</h2>
                <div class="login-field">
                    <i class="login-icon fas fa-user"></i>
                    <input type="text" class="login-input" name="email" id="email" placeholder="abc@gmail.com" required />
                </div>
                <div class="login-field">
                    <i class="login-icon fas fa-lock"></i>
                    <input type="password" class="login-input" name="password" id="password" placeholder="Password" required />
                </div>
                <button class="button login-submit">
                    <span class="button-text">Log In Now</span>
                    <i class="button-icon fas fa-chevron-right"></i>
                </button>
                <br>
                <a onclick="forgotPassword()" class="title-forgot">Forgot password</a>
            </form>
            <div class="social-login">
                <h3>Log in via</h3>
                <div class="social-icons">
                    <img src="{{ url_for('static', filename='img/icons8-facebook-48.png') }}" alt="fb-icon" class="social-login-icon">
                    <img src="{{ url_for('static', filename='img/icons8-google-48.png') }}" alt="gg-icon" class="social-login-icon">
                </div>
            </div>
            <div class="option">
                <p class="message">Not registered?
                    <a onclick="showRegister()">Create an account</a>
                </p>
            </div>
        </div>
        <div class="screen-background">
            <span class="screen-background-shape screen-background-shape4"></span>
            <span class="screen-background-shape screen-background-shape3"></span>
            <span class="screen-background-shape screen-background-shape2"></span>
            <span class="screen-background-shape screen-background-shape1"></span>
        </div>
    </div>

     <!-- Register -->
    <div class="screen-register">
        <div class="screen-content">
            <button class="close-btn" onclick="closeModal()"><i class='bx bx-x'></i></button>
            <form class="register" method="POST" action="{{ url_for('register') }}">
                <h2>Register</h2>
                <div class="register-field">
                    <i class="register-icon fas fa-user"></i>
                    <input type="text" class="register-input" name="username" id="username" placeholder="Fullname" required />
                </div>
                <div class="register-field">
                    <i class="register-icon fas fa-user"></i>
                    <input type="text" class="register-input" name="email" id="email2" placeholder="abc@ATBM.com" required />
                </div>
                <div class="register-field">
                    <i class="register-icon fas fa-user"></i>
                    <input type="email" class="register-input" name="backup_email" id="backup_email" placeholder="abc@gmail.com" required />
                </div>
                <div class="register-field">
                    <i class="register-icon fas fa-lock"></i>
                    <input type="password" class="register-input" name="password" id="password2" placeholder="Password" required />
                </div>
                <button class="button register-submit">
                    <span class="button-text">Create</span>
                    <i class="button-icon fas fa-chevron-right"></i>
                </button>
            </form>
            <div class="option">
                <p class="message">Already register?
                    <a onclick="showLogin()">Sign In</a>
                </p>
            </div>
        </div>
        <div class="screen-background">
            <span class="screen-background-shape screen-background-shape4"></span>
            <span class="screen-background-shape screen-background-shape3"></span>
            <span class="screen-background-shape screen-background-shape2"></span>
            <span class="screen-background-shape screen-background-shape1"></span>
        </div>
    </div>

    <!-- Forgot Password-->
    <div class="screen-password">
        <div class="screen-content">
            <button class="close-btn" onclick="closeModal()"><i class='bx bx-x'></i></button>
            <form class="forgot" id="forgot-password-form"  method="POST" action="/forgot_password">
                <h2>Forgot Password</h2>
                <div class="forgot-field">
                    <i class="forgot-icon fas fa-user"></i>
                    <input type="email" class="forgot-input" id="email_forgot" name="email" placeholder="abc@UTH.com" required />
                </div>
                <div class="forgot-field">
                    <i class="forgot-icon fas fa-user"></i>
                    <input type="email" class="forgot-input" id="email_backup" name="email_backup" placeholder="abc@gmail.com" required />
                </div>
                <button class="button forgot-submit" type="submit">
                    <span class="button-text">Submit</span>
                    <i class="button-icon fas fa-chevron-right"></i>
                </button>
            </form>
            <div class="option">
                <p class="message">Already register?
                    <a onclick="showLogin()">Sign In</a>
                </p>
            </div>
        </div>
        <div class="screen-background">
            <span class="screen-background-shape screen-background-shape4"></span>
            <span class="screen-background-shape screen-background-shape3"></span>
            <span class="screen-background-shape screen-background-shape2"></span>
            <span class="screen-background-shape screen-background-shape1"></span>
        </div>
    </div>

    <!-- Reset Password Form -->
    <div class="screen-reset" id="reset-password">
        <div class="screen-content">
            <button class="close-btn" onclick="closeModal()"><i class='bx bx-x'></i></button>
            <form class="reset" id="reset-password-form" method="POST" action="/reset_password">
                <h2>New Password</h2>
                <div class="reset-field">
                    <i class="reset-icon fas fa-user"></i>
                    <input type="text" class="reset-input" id="token" name="token" placeholder="Mã xác nhận" required />
                </div>
                <div class="reset-field">
                    <i class="reset-icon fas fa-lock"></i>
                    <input type="password" class="reset-input" id="new_password" name="new_password" placeholder="Nhập mật khẩu mới" required />
                </div>
                <div class="reset-field">
                    <i class="reset-icon fas fa-lock"></i>
                    <input type="password" class="reset-input" id="confirm_password" name="confirm_password" placeholder="Xác nhận mật khẩu mới" required />
                </div>
                <button class="button forgot-submit" type="submit">
                    <span class="button-text">Reset password</span>
                    <i class="button-icon fas fa-chevron-right"></i>
                </button>
            </form>
        </div>
        <div class="screen-background">
            <span class="screen-background-shape screen-background-shape4"></span>
            <span class="screen-background-shape screen-background-shape3"></span>
            <span class="screen-background-shape screen-background-shape2"></span>
            <span class="screen-background-shape screen-background-shape1"></span>
        </div>
    </div>

    <!-- Modal Thông báo đăng ký thành công -->
    <div id="successModal" class="modal">
        <div class="modal-content">
            <h2>Đăng ký thành công!</h2>
            <p>Bạn đã đăng ký thành công. Nhấn "OK" để chuyển đến trang đăng nhập.</p>
            <button onclick="redirectToLogin()">OK</button>
        </div>
    </div>

    <!-- Modal Thông báo lỗi -->
    <div id="errorModal" class="modal">
        <div class="modal-content">
            <h2>Lỗi đăng ký</h2>
            <p id="errorMessage"></p>
            <button onclick="closeErrorModal()">OK</button>
        </div>
    </div>

    <!-- Modal Thông báo lỗi khi đăng nhập -->
    <div id="errorModalLogin" class="modal">
        <div class="modal-content">
            <h2>Lỗi đăng nhập</h2>
            <p id="errorMessageLogin"></p>
            <button onclick="closeErrorModalLogin()">OK</button>
        </div>
    </div>

    <!-- Modal thành công -->
    <div id="forgotPasswordSuccessModal" class="modal">
        <div class="modal-content">
            <h2>Thành công!</h2>
            <p id="successForgotPasswordMessage"></p>
            <button onclick="redirectedToReset()">OK</button>
        </div>
    </div>

    <!-- Modal lỗi -->
    <div id="forgotPasswordErrorModal" class="modal">
        <div class="modal-content">
            <h2>Lỗi!</h2>
            <p id="errorForgotPasswordMessage"></p>
            <button onclick="closeForgotPasswordErrorModal()">Đóng</button>
        </div>
    </div>

    <!-- Modal thành công -->
    <div id="resetPasswordSuccessModal" class="modal">
        <div class="modal-content">
            <h2>Thành công!</h2>
            <p id="successResetPasswordMessage"></p>
            <button onclick="closeResetPasswordSuccessModal()">OK</button>
        </div>
    </div>

    <!-- Modal lỗi -->
    <div id="resetPasswordErrorModal" class="modal">
        <div class="modal-content">
            <h2>Lỗi!</h2>
            <p id="errorResetPasswordMessage"></p>
            <button onclick="closeResetPasswordErrorModal()">Đóng</button>
        </div>
    </div>

    <div class="overlay"></div>
    <script src="{{ url_for('static', filename='js/index-script.js') }}"></script>
</body>
</html>